/*accent-blue*** 3949AB -> 001b77*/
/*blue********** 3F51B5 -> 0058A8*/
/*grey************* -> #F2F2F2*/
#header {
    box-shadow: 0 0 20px rgba(0,0,0,.3);
    background-color: #ffffff;
}

#header-alt{
    background-color: #0058A8;
    padding: 0;
}

.header__main {
	padding: 10px 0;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,.3);
}

@media (max-width: 991px){
    .navigation-trigger {
        color: #0e2984;
    }

    .rmd-backdrop--dark {
        z-index: 9 !important;
    }
    .navigation {
        z-index: 10 !important;
    }
    #header-alt {
        z-index: 10 !important;
    }

}

@media (min-width: 992px){
    .navigation__dropdown:hover>a{
        background-color: #F2F2F2;
    }
    .navigation>li:not(.active):hover>a {
    	color: #0e2984;
    }
    .navigation__drop-menu {
        background-color: #fff;
    }
    .navigation__drop-menu>li>a {
        background-color: #fff;
        color: #0e2984;
    }
	.navigation__drop-menu>li>a:hover {
        background-color: #F2F2F2;
        color: #001b77;
    }
    .navigation>li>a {
        color: #0e2984;
    }
}

@media (min-width: 768px){
    #footer {
         padding-top: 0px;
    }
    .footer__bottom {
        margin-top: 0px;
    }
}

.logo>img {
    width: 175px;
    border-radius: 4px;
}

.navigation {
    padding: 20px 0;
}

.navigation-centered {
    width: 130px;
    margin: -20px auto;
    display: inline-block;
}

.content-wrapper{
    margin-top: 154px;
}

.img-thumbnail, body {
    background-color: #fff;
}

.btn-round:hover,
.btn-round:active,
.btn-round:focus,
.btn-round:visited{
    color: #fff;
    background-color: #00007f;
    border-color: #000; /* 0e2984 */
}

.btn-round{
	color: #fff;
    background-color: #000; /* 0e2984 */
    border: 3px solid #001b77;
    border-radius: 50%;
    line-height: 1.1;
    height: 130px;
    width: 130px;
    text-align: center;
    white-space: normal;
    font-size: 20px;
    padding: 40px 0;
    font-weight: 600;
}

/*-------------Quick Padding & Margins---------*/
.plr-0{
    padding-left: 0px;
    padding-right: 0px;
}

.pt-0{
    padding-top: 0px;
 }
.pb-0{
    padding-bottom: 0px;
 }
.ptb-0{
    padding-top: 0px;
    padding-bottom: 0px;
}
.pt-20{
    padding-top: 20px;
 }
.pb-20{
    padding-bottom: 20px;
 }
.ptb-20{
    padding-top: 20px;
    padding-bottom: 20px;
}

.pt-40{
    padding-top: 40px;
 }
.pb-40{
    padding-bottom: 40px;
 }
.ptb-40{
    padding-top: 40px;
    padding-bottom: 40px;
}

.pt-80{
    padding-top: 80px;
 }
.pb-80{
    padding-bottom: 80px;
 }
.ptb-80{
    padding-top: 80px;
    padding-bottom: 80px;
}
.mt-0{
    margin-top: 0px;
}
.mb-0{
	margin-bottom: 0px;
}
.mtb-0{
    margin-top: 0px;
    margin-bottom: 0px;
}

.mt-20{
    margin-top: 20px;
}
.mb-20{
	margin-bottom: 20px;
}
.mtb-20{
    margin-top: 20px;
    margin-bottom: 20px;
}

.mt-40{
    margin-top: 40px;
 }
.mb-40{
    margin-bottom: 40px;
 }
.mtb-40{
    margin-top: 40px;
    margin-bottom: 40px;
}

.mt-80{
    margin-top: 80px;
 }
.mb-80{
    margin-bottom: 80px;
 }
.mtb-80{
    margin-top: 80px;
    margin-bottom: 80px;
}

/*-------------End Quick Padding & Margins-----*/

.btn-group .btn {
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}

.tab-nav:not(.tab-nav--mobile) ul>li>a:after,
.tab-nav:not(.tab-nav--mobile) ul>li>a:before {
    background-color: #0058A8;
}

/*-------------Black Slick Navigation Dots-----*/
.slick-dots.slick-dots-light>li button {
    background-color: rgba(000,000,000,.6);
}

/*--------------Flash Notifications--------------*/
.alert{

}
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
.alert-dismissable .close,
.alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
    border: none;
    background-color: transparent;
}
a.close {
    text-decoration: none !important;
    font-size: 18px !important;
    line-height: 1.2;
}
a.close:hover {
    color: black !important;
}
.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}
.alert.alert-danger{

}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.alert-dismissable, .alert-dismissible {
    padding-right: 35px;
}
.alert-dismissable .close, .alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
}
/*-------------Select2 Settings----------*/
.select2-container--default{
    width: 100% !important;
}

/*----------------Accordian---------------*/
.wrap {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

a:focus,
a:hover,
a:active {
  outline: 0;
  text-decoration: none;
}

.panel {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #fff;
  background: none;
  box-shadow: none;
}

.panel:last-child {
  border-bottom: none;
}

.panel-group > .panel:first-child .panel-heading {
  border-radius: 4px 4px 0 0;
}

.panel-group .panel {
  border-radius: 0;
}

.panel-group .panel + .panel {
  margin-top: 0;
}

.panel-heading {
  background-color: #2196F3;
  border-radius: 0;
  border: none;
  color: #fff;
  padding: 0;
}

.panel-title a {
  display: block;
  color: #fff;
  padding: 15px;
  position: relative;
  font-size: 16px;
  font-weight: 400;
}

.panel-body {
  background: #fff;
}

.panel:last-child .panel-body {
  border-radius: 0 0 4px 4px;
}

.panel:last-child .panel-heading {
  border-radius: 0 0 4px 4px;
  transition: border-radius 0.3s linear 0.2s;
}

.panel:last-child .panel-heading.active {
  border-radius: 0;
  transition: border-radius linear 0s;
}
/* #bs-collapse icon scale option */

.panel-heading a:before {
  content: '\e146';
  position: absolute;
  font-family: 'Material Icons';
  right: 5px;
  top: 10px;
  font-size: 24px;
  transition: all 0.5s;
  transform: scale(1);
}

.panel-heading.active a:before {
  content: ' ';
  transition: all 0.5s;
  transform: scale(0);
}

#bs-collapse .panel-heading a:after {
  content: ' ';
  font-size: 24px;
  position: absolute;
  font-family: 'Material Icons';
  right: 5px;
  top: 10px;
  transform: scale(0);
  transition: all 0.5s;
}

#bs-collapse .panel-heading.active a:after {
  content: '\e909';
  transform: scale(1);
  transition: all 0.5s;
}
/* #accordion rotate icon option */

#accordion .panel-heading a:before {
  content: '\e316';
  font-size: 24px;
  position: absolute;
  font-family: 'Material Icons';
  right: 5px;
  top: 10px;
  transform: rotate(180deg);
  transition: all 0.5s;
}

#accordion .panel-heading.active a:before {
  transform: rotate(0deg);
  transition: all 0.5s;
}