
/*-------------Quick Padding & Margins---------*/
.plr-0{
    padding-left: 0px;
    padding-right: 0px;
}

.pt-0{
    padding-top: 0px;
 }
.pb-0{
    padding-bottom: 0px;
 }
.ptb-0{
    padding-top: 0px;
    padding-bottom: 0px;
}

.pt-10{
    padding-top: 10px;
 }
.pb-10{
    padding-bottom: 10px;
 }
.ptb-10{
    padding-top: 10px;
    padding-bottom: 10px;
}

.pt-20{
    padding-top: 20px;
 }
.pb-20{
    padding-bottom: 20px;
 }
.ptb-20{
    padding-top: 20px;
    padding-bottom: 20px;
}

.pt-40{
    padding-top: 40px;
 }
.pb-40{
    padding-bottom: 40px;
 }
.ptb-40{
    padding-top: 40px;
    padding-bottom: 40px;
}

.pt-80{
    padding-top: 80px;
 }
.pb-80{
    padding-bottom: 80px;
 }
.ptb-80{
    padding-top: 80px;
    padding-bottom: 80px;
}
.mt-0{
    margin-top: 0px;
}
.mb-0{
	margin-bottom: 0px;
}
.mtb-0{
    margin-top: 0px;
    margin-bottom: 0px;
}
.mt-10{
    margin-top: 10px;
}
.mb-10{
    margin-bottom: 10px;
}
.mtb-10{
    margin-top: 10px;
    margin-bottom: 10px;
}
.mt-20{
    margin-top: 20px;
}
.mb-20{
	margin-bottom: 20px;
}
.mtb-20{
    margin-top: 20px;
    margin-bottom: 20px;
}

.mt-40{
    margin-top: 40px;
 }
.mb-40{
    margin-bottom: 40px;
 }
.mtb-40{
    margin-top: 40px;
    margin-bottom: 40px;
}

.mt-80{
    margin-top: 80px;
 }
.mb-80{
    margin-bottom: 80px;
 }
.mtb-80{
    margin-top: 80px;
    margin-bottom: 80px;
}


/*--------------Flash Notifications--------------*/
.alert{

}
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
.alert-dismissable .close,
.alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
    border: none;
    background-color: transparent;
}
a.close {
    text-decoration: none !important;
    font-size: 18px !important;
    line-height: 1.2;
}
a.close:hover {
    color: black !important;
}
.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}
.alert.alert-danger{

}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.alert-dismissable, .alert-dismissible {
    padding-right: 35px;
}
.alert-dismissable .close, .alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
}
/*-------------Select2 Settings----------*/
.select2-container--default{
    width: 100% !important;
}
.select2-container--default .select2-selection--single {
    border-radius: 0px;
}
.select2-container .select2-selection--single {
    height: 34px;
}
.required{
    color: #a94442;
}

.btn.pull-right{
    margin-right: 5px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    color: #585858;
}
.select2-container--default .select2-selection--multiple {
    border-radius: 0px;
}
/*-------------Select2 Settings------------*/
.select2-container--default:focus, 
.select2-selection:focus, 
.select2-container--default:active, 
.select2-selection:active {
    border-top: 1px solid #3c8dbc !important;
}

.btn.add-item-btn:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
/*------------------Images-----------------*/
.images-holder{
    margin-bottom: 15px;
}
.delete-image{
    position: absolute;
    top: 5px;
    right: 20px;
}
/*------------------Images-----------------*/
h1.h1-title{
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 30px;
}
.content-wrapper .content{
    padding-top: 0px;
}

.btn-default{
    background-color: #d2d6de;
}

.btn-default:hover,
.btn-default:active
{
    background-color: #adadad;
}